.div_menu {
  background-color: black;
  margin-bottom: 5px;
}

.menu {
  color: white;
}

.slider-div {
  display: inline-flex;
  margin-left: 60px;
}

.slider {
  margin: 3px;
  align-items: center;
  width: 520px;
}

p {
  text-align: justify;
}

footer {
  background-color: black;
  align-items: center;
}

.footer,
.footer-alamat {
  color: white;
  text-align: center;
}
